<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link
            rel="icon"
            type="image/png"
            href="https://aronacdn.hanasaki.tech/webui/logo.png"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BA Tools WebUI</title>
        <script
            type="module"
            crossorigin
            src="/batools/assets/index-D8NpHzqc.js"
        ></script>
        <link
            rel="stylesheet"
            crossorigin
            href="/batools/assets/index-uexioi9s.css"
        />
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
