[tool.poetry]
name = "nonebot-plugin-ba-tools"
version = "0.1.3"
description = "一个BlueArchive的工具箱"
authors = [
    "hanasaki <hanasakayui2022@gmail.com>",
    "TheresaKugua <2277044081@qq.com>",
]
license = "MIT"
readme = "README.md"
packages = [{ include = "nonebot_plugin_ba_tools" }]
homepage = "https://github.com/hanasa2023/nonebot-plugin-ba-tools#readme"
repository = "https://github.com/hanasa2023/nonebot-plugin-ba-tools"

[tool.poetry.dependencies]
python = ">=3.9, <4.0"
pydantic = ">=2.8.2"
nonebot2 = ">=2.3.2"
nonebot-adapter-onebot = ">=2.4.4"
nonebot-plugin-apscheduler = ">=0.5.0"
tortoise-orm = "^0.21.5"

[[tool.poetry.source]]
name = "mirrors"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
priority = "primary"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

# [tool.nonebot]
# adapters = [
#     { name = "OneBot V11", module_name = "nonebot.adapters.onebot.v11" },
# ]
# plugins = []
# plugin_dirs = [""]
# builtin_plugins = ["echo", "single_session"]
